<h1><%= @announcement.title %></h1>
<h6>Details</h6>

	<p style= "text-align: left; white-space: pre-wrap; break-word;"><%=@announcement.details %></p><a href="/announcements">View Announcements<a/>

	
